*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: black; 
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100vw;
  height: 100vh;
}
.insta1{
    width: 350px;
    height: 350px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285abc 98% );
    border-radius: 80%;
}
.insta2{
 width: 264px;
 height: 264px;
 border: 19px solid #fff;
 border-radius: 80px;
 background-color: transparent;
 justify-content: center;
 align-items: center;
 margin-left: 38px;
 margin-top: 38px;
 position: relative;
}
.insta3{
    width: 140px;
    height: 140px;
    border-radius: 80%;
    border: 19px solid #fff;
    left: 48px;
    top: 38px;
    position: absolute;
}
.insta4{
    width: 1px;
    height: 1px;
    border-radius: 100%;
    border: 20px solid #fff;
    left: 165px;
    top: 20px;
    position: absolute;
}